h1 {
  text-align: center;
}

form {
  display: grid;
  gap: 8px;
  width: 500px;
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 14px;
  margin-bottom: 8px;
}

.error {
  color: #ff0000;
}

.no-error {
  color: #00ff00;
}
